*{
    background-color: rgb(30, 92, 92);
    text-align: center;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97vw;
    height: 10vh;
}
.game1{
    display: flex;
    width: 98vw;
    height: 50vh;
    justify-content: center;
    align-items: center;

}
.game{
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50vmin;
    height: 50vmin;
    gap: 2.5px;

}
.box{
    box-sizing: border-box;
    color: transparent;
    border-radius: 1rem;
    background-color: white;
    width: 16vmin;
    height: 16vmin;
    font-size: 25px;
    font-weight: bold;
    color: brown;
    border: none;
}
#r-btn{
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
}
.hide{
    display: none;
}
#msg{
    font-size: 1.7rem;
    color: white;
}
#new-btn{
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
}
.draw{
    color: white;
    font-size: 1.7rem;
}